@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/css/style_global.css" />
<main>
        <div class="content">
            <div class="login">
                <div>
                    <h1 class="title">เข้าสู่ระบบ</h1>
                </div>
                <div>
                    <form method="post">
                        <div class="email">
                            <input type="email" name="email" id="email" placeholder="อีเมล">
                        </div>
                        <div class="password">
                            <input type="password" name="password" id="password" placeholder="รหัสผ่าน">
                        </div>
                        <div class="submit">
                            <button class="btn bg_yellow" type="submit">เข้าสู่ระบบ</button>
                        </div>
                        <div class="register">
                            <h5>ยังไม่เป็นสมาชิก?</h5>
                            <h5 id="register"><a asp-controller="User" asp-action="Register">สมัครสมาชิก</a></h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

<script src="~/js/nav.js"></script>