@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>

<form asp-controller="User" method="POST" asp-action="Register">
    <input type="text" name="firstName" placeholder="First Name" required />
    <input type="text" name="lastName" placeholder="Last Name" required />
    <div>
        <input type="radio" id="male" name="gender" value="male" checked />
        <label for="male">male</label>
        <input type="radio" id="female" name="gender" value="female" />
        <label for="female">female</label>
    </div>
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="password" name="confirmPassword" placeholder="ConfirmPassword" required />
    @* <input type="password" name="confirmPassword" placeholder="confirm password" required /> *@
    <input type="tel" name="phoneNumber" placeholder="phone number" required />
    
    <button type="submit">Register</button>
</form>
<div asp-validation-summary="All" class="text-danger"></div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}