@* @model List<Notification> *@
@model List<DemoVolunteer.Models.Notification>

@if (Model == null || Model.Count == 0){
   <div class="dropdown-item">ไม่มีการแจ้งเตือน</div>
}else{
    @foreach (var notify in Model){
        <div class="dropdown-item">
            @notify.Message
            @notify.CreatedAt.ToString("dd/MM/yyyy HH:mm")
        </div>
    }
}
